@tailwind base;
@tailwind components;
@tailwind utilities;


.input-class {
    outline:none;
    background-color: #D3D0CB;
    display: block;
    width:100%;
    padding: 5px 10px;
    border-radius: 5px;
}

.form-error{
    @apply font-bold mt-3 text-sm text-white
}